<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="style/db.css">
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();
            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    let currentRow = $(this).closest("tr");
                    let isAdmin = currentRow.find("td:eq(3)").html();
                    let id = currentRow.find("td:eq(0)").html();
                    let uname = currentRow.find("td:eq(1)").html();

                    let password = currentRow.find("td:eq(2)").html();

                    isAdmin = isAdmin.replace(/\s/g, ''); // <-- needed to prevent spaces
                    password = password.replace(/\s/g, ''); // <-- needed to prevent spaces
                    id = id.replace(/\s/g, ''); // <--
                    uname = uname.replace(/\s/g, '');

                    // Found the problem. For some reason the table is sending spaces to the fields that gets sent over to the server!
                    // By using RegEx we can trim down these inputs, but the table is sending unneeded whitespace to fields.
                    // This made isAdmin == 'Y' never true because if had spaces before and after it.
                    // When using escape(isAdmin) we got back something like %20%20%20%20$20Y%20%20%20.. and so on.
                    // by using isAdmin.includes('Y') I can get back a true result because Y is still in the result somewhere.

                    document.getElementById('lblUsername').innerHTML = uname;
                    hiddenId.setAttribute('value', id);
                    hiddenMakeAdminId.setAttribute('value', id);
                    hiddenRemoveAdminId.setAttribute('value', id);
                    // new additions:
                    adminChangePassword.setAttribute('value', password);
                    changePasswordId.setAttribute('value', id);

                    // console.log(isAdmin + ' <- This is the isAdmin variable');

                    if (isAdmin == 'Y') {
                        // console.log(isAdmin + ' <-- in the true block');
                        // console.log('in true block');

                        $('#btmakeAdmin').prop('disabled', true);
                        $('#btmakeAdmin').prop('cursor', 'not-allowed');
                        $('#btremoveAdmin').prop('disabled', false);
                        $('#btremoveAdmin').prop('cursor', 'pointer');
                        // $("#formMakeAdmin").css("display", "none");
                        // $("#formRemoveAdmin").css("display", "block");
                    } else {

                        $('#btmakeAdmin').prop('disabled', false);
                        $('#btremoveAdmin').prop('disabled', true);
                        // $("#formMakeAdmin").css("display", "block");
                        // $("#formRemoveAdmin").css("display", "none");
                        $('#btmakeAdmin').prop('cursor', 'pointer');
                        $('#btremoveAdmin').prop('cursor', 'not-allowed');
                    }
                }
            });
        });
    </script>
</head>

<body>
    <form action="" class="dbform">
        <table id="example" class="display" style="width:80%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Is Admin?</th>
                    <th>enc_password</th>
                </tr>
            </thead>
            <% for (var i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%=data[i].id%>
                    </td>
                    <td>
                        <%=data[i].username%>
                    </td>
                    <td>
                        <%=data[i].password%>
                    </td>
                    <td>
                        <%=data[i].isadmin%>
                    </td>
                    <td>
                        <%=data[i].encrypted_password%>
                    </td>
                </tr>
                <% } %>
        </table>

    </form>
    <div class="options">
        <p>The selected user is currently: <label id="lblUsername"></label></p>

        <form action="deleteUser" method="POST" id="formDeleteUser">
            <input type="hidden" name="hiddenId" id="hiddenId" />
            <button type="submit" id="btdeleteUser">Delete User</button>
        </form>
        <form action="makeAdmin" method="POST" id="formMakeAdmin">
            <input type="hidden" name="hiddenMakeAdminId" id="hiddenMakeAdminId" />
            <button type="submit" id="btmakeAdmin">Make Admin</button>
        </form>
        <form action="removeAdmin" method="POST" id="formRemoveAdmin">
            <input type="hidden" name="hiddenRemoveAdminId" id="hiddenRemoveAdminId" />
            <button type="submit" id="btremoveAdmin">Remove Admin</button>
        </form>
        <form action="adminChangePassword" method="POST" id="formAdminChangePassword">
            <button type="submit" id="btAdminChangePassword">Change Password</button>
            <input type="text" name="adminChangePassword" id="adminChangePassword" />
            <input type="hidden" name="changePasswordId" id="changePasswordId" />
            
        </form>
    </div>

</body>

</html>